<!DOCTYPE html>
<html>
     <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css">
     </head>
     <body>

        <h1> Recorded deleted</h1>
        <p> Record with Key: <%= data.key %> </p>
		<p> deleted succesfully </p>

		<form action="/">
		<input type="submit" value="Go Back" />
		</form>
     </body>


</html>
