<!DOCTYPE html>
<html>
     <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css">
     </head>
     <body>
<h2>Fake Book Index</h2>
<form id="save-form" method="POST" action="/info">
        <label for="title">Title</label>
        <input type="text" name="title" value="<%= qs.name %>">
        <label for="book">Book</label>
        <input type="text" name="book" value="<%= qs.book %>">
        <label for="page">Page</label>
        <input type="text" name="page" value="<%= qs.page %>">
		    <label for="key">Key</label>
        <input type="text" name="key" value="<%= qs.key %>">
        <input type="submit" value="submit" />
    </form>﻿
	
	<form action="/books">
    <input type="submit" value="See all books" />
	</form>
	
	<form action="/update">
    <input type="submit" value="Update a book" />
	</form>

	<form action="/delete">
    <input type="submit" value="Delete a book" />
	</form>
	
	<form action="/search">
    <input type="submit" value="Search for a book" />
	</form>
     </body>


</html>
