<!DOCTYPE html>
<html>
     <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css">
     </head>
     <body>
<form id="save-form>
        <label for="title">Title</label>
        <input type="text" name="title"
        <label for="book">Book</label>
        <input type="text" name="book"
        <label for="page">Page</label>
        <input type="text" name="page">
		<label for="key">Key</label>
        <input type="text" name="key">
        <input type="submit" value="submit">
    </form>﻿
     </body>


</html>
