<!DOCTYPE html>
<html>
     <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css">
     </head>
     <body>

        <h1> Title</h1>
        <p> Title is <%= data.title %> </p>


     </body>


</html>
