<!DOCTYPE html>
<html>
     <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css">
     </head>
     <body>

        <h1> Record updated</h1>
        <p> Record with Title: <%= data.title %> </p>
		<p> and Book: <%= data.book %> </p>
		<p> and Page: <%= data.page %> </p>
		<p> and Key: <%= data.key %> </p>
		<p> updated succesfully </p>

		<form action="/">
		<input type="submit" value="Go Back" />
		</form>
     </body>


</html>
