<!DOCTYPE html>
<html>
     <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css">
     </head>
     <body>
<form id="save-form" method="POST" action="/update">
        <label for="title">Title</label>
        <input type="text" name="title" value="<%= qs.name %>">
        <label for="book">Book</label>
        <input type="text" name="book" value="<%= qs.book %>">
        <label for="page">Page</label>
        <input type="text" name="page" value="<%= qs.page %>">
		    <label for="key">Key</label>
        <input type="text" name="key" value="<%= qs.key %>">
        <input type="submit" value="submit" />
    </form>﻿
	
	<form action="/">
    <input type="submit" value="Go Back" />
	</form>

     </body>


</html>
