 body{ background: 	#99CC99; font-family:verdana; color:#993300; padding:30px;}
             h1{font-size: 40px; text-transform:uppercase; letter-spacing: 2px; text-align:center;}
             p{ font-size: 16px; text-align: center;}